[Desktop Entry]
Exec=be.shell
X-DBUS-StartupType=wait
Name=BE::shell
Name[x-test]=xxBE::shellxx
Type=Service
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
X-KDE-autostart-phase=0

